{% extends "sidebar_page.html" %}

{% load currency %}

{% block sidebar %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Actions</h3>
		</div>

		<div class="list-group">
			<a class="list-group-item" href="{% url "counterparty:create" %}">
				Create counterparty...
			</a>
		</div>
	</div>
{% endblock %}

{% block main %}
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Counterparty</th>
			<th>Category</th>
			<th>Most recent transaction</th>
			<th class="cell-min-width">Net</th>
			<th class="cell-min-width">Transactions</th>
		</tr>
		</thead>

		<tbody>
		{% for counterparty in counterparties %}
			<tr>
				<td>
					<a href="{{ counterparty.get_absolute_url }}">
						{{ counterparty }}
					</a>
				</td>

				<td>
					{% if counterparty.category %}
						{{ counterparty.category }}
					{% else %}
						<em>(uncategorised)</em>
					{% endif %}
				</td>

				<td class="cell-min-width">
					{{ counterparty.most_recent_transaction|date:"d/m/y" }}
				</td>

				<td class="cell-min-width {% if counterparty.net_amount < 0 %}danger{% else %}success{% endif %}">
					{% if counterparty.net_amount == None %}
						{{ 0|format_currency }}
					{% else %}
						{{ counterparty.net_amount|format_currency }}
					{% endif %}
				</td>

				<td class="cell-min-width">
					{{ counterparty.total_transactions }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
