{% if transaction_timeline %}
	<nav class="pagination-full-width-nav">
		<ul class="pagination pagination-full-width">
			<li {% if transaction_timeline.previous_year.1 %}class="disabled"{% endif %}>
				<a href="?year={{ transaction_timeline.previous_year.0 }}&month=12">
					&laquo; {{ transaction_timeline.previous_year.0 }}
				</a>
			</li>

			{% for date, future in transaction_timeline.months %}
				<li {% if date.month == transaction_timeline.current_month %}class="active"{% elif future %}class="disabled"{% endif %}>
					<a href="?year={{ date.year }}&month={{ date.month }}">
						{{ date|date:"b"|capfirst }}
					</a>
				</li>
			{% endfor %}

			<li {% if transaction_timeline.next_year.1 %}class="disabled"{% endif %}>
				<a href="?year={{ transaction_timeline.next_year.0 }}&month=1">{{ transaction_timeline.next_year.0 }} &raquo;</a>
			</li>
		</ul>
	</nav>
{% endif %}

<div class="table-responsive">
	<table class="table table-bordered table-striped transaction-table">
		<thead>
		<tr>
			<th>Date</th>
			<th colspan="2">Description</th>
			<th>Category</th>
			<th>Amount</th>
		</tr>
		</thead>

		<tbody>
		{% for transaction in transactions %}
			{% ifchanged transaction.week %}
				</tbody>
				<thead>
				<tr class="week-header">
					<th colspan="5">Week {{ transaction.week }}</th>
				</tr>
				</thead>
				<tbody>
			{% endifchanged %}
			<tr class="transaction">
				{% include transaction.list_template_name %}
			</tr>
		{% empty %}
			{% include "transaction_detail/empty.html" %}
		{% endfor %}
		</tbody>
	</table>
</div>
